.user-list {

    align-items: center;
    justify-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 20px;

}

.user-list-container {

    display: grid;
    place-items: center;
    padding: 12px;


}