.profilePage {

    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    transition: 0.3s;
    border-radius: 10px;
    padding: 14px;
    
    border: 2px solid #4caf50;
    
}

.profilePage:hover {

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}